[*.cs]

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = silent

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = suggestion

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false

# IDE0018: Inline variable declaration
csharp_style_inlined_variable_declaration = false

# IDE0007: Use implicit type
dotnet_diagnostic.IDE0007.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0002: Simplify Member Access
dotnet_diagnostic.IDE0002.severity = none
